In [1]:
from plotly.subplots import make_subplots
import pandas as pd

import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets
from IPython.display import display

In [2]:
df = pd.read_csv("data_test.csv")
df.head()

,Unnamed: 0,ptak_nr,id,kod_ostoi,nazwa_ostoi,nazwa_polska,nazwa_lacinska,status,liczba_par_min,liczba_par_max,dokladnosc_oszac,kryterium,rok,aktualne
0,0,34.0,3579,PL001,Delta Świny,bielaczek,Mergus albellus,NaN,815.0,1500.0,NaN,NaN,1995-2003,nie
1,1,36.0,3580,PL001,Delta Świny,nurogęś,Mergus merganser,M,5000.0,12000.0,NaN,NaN,1995-1997,nie
2,2,71.0,3581,PL001,Delta Świny,bielik,Haliaeetus albicilla,L,5.0,6.0,NaN,"C1,C6",1990-2003,nie
3,3,57.0,3583,PL001,Delta Świny,bąk,Botaurus stellaris,L,3.0,7.0,NaN,NaN,1995-2003,nie
4,4,58.0,3584,PL001,Delta Świny,bączek,Ixobrychus minutus,L,0.0,3.0,NaN,NaN,1995-2003,tak

In [3]:


# Create dropdown widgets for 'nazwa_polska' and 'nazwa_ostoi'
nazwa_polska_dropdown = widgets.Dropdown(
    options=df['nazwa_polska'].unique(),
    description='Nazwa Polska:',
    disabled=False,
)

nazwa_ostoi_dropdown = widgets.Dropdown(
    options=df['nazwa_ostoi'].unique(),
    description='Nazwa Ostoi:',
    disabled=False,
)

# Function to update the plot and table based on dropdown selection
def update_plot_and_table(nazwa_polska, nazwa_ostoi):
    df_filtred = df[(df['nazwa_polska'] == nazwa_polska) & (df['nazwa_ostoi'] == nazwa_ostoi)]
    
    # Create the plot
    fig = go.Figure()
    fig.add_trace(go.Bar(x=df_filtred['rok'], y=df_filtred['liczba_par_min'], name='Liczba par min'))
    fig.add_trace(go.Bar(x=df_filtred['rok'], y=df_filtred['liczba_par_max'], name='Liczba par max'))
    fig.update_layout(title=f'Liczba par min i max w poszczególnych latach dla {nazwa_polska} w {nazwa_ostoi}', 
                      xaxis_title='Rok', 
                      yaxis_title='Liczba par', 
                      barmode='group')
    fig.show()
    
    # Display the table
    display(df_filtred)

# Display the dropdowns and set up the interaction
ui = widgets.VBox([nazwa_polska_dropdown, nazwa_ostoi_dropdown])
out = widgets.interactive_output(update_plot_and_table, {'nazwa_polska': nazwa_polska_dropdown, 'nazwa_ostoi': nazwa_ostoi_dropdown})

display(ui, out)

VBox(children=(Dropdown(description='Nazwa Polska:', options=('bielaczek', 'nurogęś', 'bielik', 'bąk', 'bączek…

Output()