In [40]:
import folium
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from geopy.geocoders import Nominatim

import ipywidgets as widgets
from IPython.display import display

plt.rcParams.update({'font.size': 22})

In [41]:
df = pd.read_excel("../przydzielanie kryteriow.xls")

In [42]:
df.head()

,ptak_nr,id,kod_ostoi,nazwa_ostoi,nazwa_polska,nazwa_lacinska,status,liczba_par_min,liczba_par_max,dokladnosc_oszac,kryterium,rok,aktualne
0,34.0,3579,PL001,Delta Świny,bielaczek,Mergus albellus,NaN,815.0,1500.0,NaN,NaN,1995-2003,nie
1,36.0,3580,PL001,Delta Świny,nurogęś,Mergus merganser,M,5000.0,12000.0,NaN,NaN,1995-1997,nie
2,71.0,3581,PL001,Delta Świny,bielik,Haliaeetus albicilla,L,5.0,6.0,NaN,"C1,C6",1990-2003,nie
3,57.0,3583,PL001,Delta Świny,bąk,Botaurus stellaris,L,3.0,7.0,NaN,NaN,1995-2003,nie
4,58.0,3584,PL001,Delta Świny,bączek,Ixobrychus minutus,L,0.0,3.0,NaN,NaN,1995-2003,tak

In [8]:
df.keys()

Index(['ptak_nr', 'id', 'kod_ostoi', 'nazwa_ostoi', 'nazwa_polska',
       'nazwa_lacinska', 'status', 'liczba_par_min', 'liczba_par_max',
       'dokladnosc_oszac', 'kryterium', 'rok', 'aktualne'],
      dtype='object')

In [9]:
df['nazwa_ostoi'].unique()

array(['Delta Świny', 'Zalew Szczeciński', 'Puszcza Wkrzańska',
       'Ostoja Świdwie', 'Dolina Dolnej Odry', 'Jeziora Wełtyńskie',
       'Ostoja Miedwie', 'Ostoja Cedyńska', 'Puszcza Goleniowska',
       'Bagna Rozwarowskie', 'Zalew Kamieński i Dziwna',
       'Ostoja Trzebiatowska', 'Ostoja Witnicko-Dębniańska',
       'Puszcza Barlinecka', 'Ostoja Ińska', 'Ostoja Drawska',
       'Lasy Puszczy nad Drawą', 'Puszcza nad Gwdą', 'Ostoja Słowińska',
       'Dolina Słupi', 'Lasy Lęborskie', 'Bielawskie Błota',
       'Puszcza Darżlubska', 'Zatoka Pucka', 'Lasy Mirachowskie',
       'Bory Tucholskie', 'Ujście Wisły', 'Dolina Dolnej Wisły',
       'Zalew Wiślany', 'Jezioro Druzno', 'Lasy Iławskie',
       'Dolina Pasłęki', 'Ostoja Warmińska', 'Ostoja Oświn',
       'Jezioro Dobskie', 'Lasy Skaliskie', 'Puszcza Borecka',
       'Puszcza Napiwodzko-Ramucka', 'Puszcza Piska', 'Jezioro Łuknajno',
       'Ostoja Poligon Orzysz', 'Bagna Nietlickie', 'Puszcza Augustowska',
       'Dolina Biebrzy', 'Puszcza Knyszyńska', 'Puszcza Białowieska',
       'Niecka Gródecko-Michałowska', 'Dolina Górnej Narwi',
       'Bagienna Dolina Narwi', 'Bagno Wizna', 'Przełomowa Dolina Narwi',
       'Dolina Dolnej Narwi', 'Doliny Omulwi i Płodownicy',
       'Doliny Wkry i Mławki', 'Bagienna Dolina Drwęcy',
       'Dolina Górnego Nurca', 'Dolina Dolnego Bugu', 'Puszcza Biała',
       'Dolina Liwca', 'Dolina Kostrzynia', 'Lasy Łukowskie',
       'Ujście Warty', 'Dolina Dolnej Noteci', 'Nadnoteckie Łęgi',
       'Dolina Środkowej Noteci', 'Puszcza Notecka', 'Dolina Samicy',
       'Dolina Małej Wełny', 'Jeziora Pszczewskie i dolina Obry',
       'Jezioro Zgierzynieckie', 'Dolina Środkowej Odry',
       'Wielki Łęg Obrzański', 'Pojezierze Sławskie', 'Zbiornik Wonieść',
       'Ostoja Rogalińska', 'Dolina Środkowej Warty',
       'Ostoja Nadgoplańska', 'Zbiornik Jeziorsko', 'Dolina Neru',
       'Dolina Bzury', 'Błota Rakutowskie', 'Żwirownia Skoki',
       'Dolina Środkowej Wisły', 'Puszcza Kampinoska', 'Bagno Całowanie',
       'Bory Dolnośląskie', 'Stawy Przemkowskie', 'Zbiornik Mietkowski',
       'Łęgi Odrzańskie', 'Grądy Odrzańskie', 'Zbiornik Turawski',
       'Dolina Baryczy', 'Dąbrowy Krotoszyńskie', 'Dolina Pilicy',
       'Puszcza Kozienicka', 'Małopolski Przełom Wisły', 'Dolina Nidy',
       'Dolina Tyśmienicy', 'Lasy Parczewskie', 'Zbiornik Podedworze',
       'Uroczystko Mosty-Zahajki', 'Polesie', 'Bagno Bubnów',
       'Dolina Środkowego Bugu', 'Chełmskie Torfowiska Węglanowe',
       'Lasy Strzeleckie', 'Dolina Poru', 'Zbiornik w Nieliszu',
       'Lasy Janowskie', 'Puszcza Solska', 'Roztocze',
       'Dolina Górnej Łabuńki', 'Ostoja Tyszowiecka',
       'Zlewnia Górnej Huczwy', 'Dolina Szyszły', 'Dolina Sołokiji',
       'Karkonosze', 'Góry Stołowe', 'Zbiornik Otmuchowski',
       'Zbiornik Nyski', 'Stawy Wielikąt i Las Tworkowski',
       'Dolina Górnej Wisły', 'Stawy w Brzeszczach', 'Dolina Dolnej Soły',
       'Dolina Dolnej Skawy', 'Puszcza Niepołomicka', 'Beskid Żywiecki',
       'Babia Góra', 'Pasmo Policy', 'Torfowiska Orawsko-Nowotarskie',
       'Tatry', 'Gorce', 'Pieniny', 'Beskid Niski', 'Pogórze Przemyskie',
       'Góry Słonne', 'Bieszczady', 'BAGNO PULWY', 'BESKID ŚLĄSKI',
       'BESKID WYSPOWY', 'BUCZYNY GRZĘDY SOKALSKIEJ', 'DOLINA CZARNEJ',
       'DOLINA DOLNEGO SANU', 'DOLINA DOLNEGO WIEPRZA',
       'DOLINA PRZYSOWY i SŁUDWI', 'Dolina Widawy i Oleśnicy',
       'Góry Izerskie', 'Jezioro Karaś', 'Kuźnica Warężyńska',
       'Lasy Radłowskie', 'Lasy Sieniawskie', 'Mierzeja Wiślana',
       'Niecka Włoszczowska', 'Ostoja Konińska', 'Ostoja Kurpiowska',
       'Ostoja Kwiecewo', 'Ostoja Mircze', 'Ostoja Popradzka',
       'Ostoja Sątopy-Samulewo', 'Potorfia nad Wieprzem',
       'Półwysep Helski', 'Puszcza Sandomierska',
       'Stawy Jaktorów i Kraśnicza Wola',
       'Sudety Wałbrzysko-Kamiennogórskie', 'Świętokrzyska Dolina Wisły',
       'Wrocławskie Pola Irygacyjne', 'Wysoczyzna Elbląska',
       'Struga Średzka', 'Zbiornik Siemianówka', 'Ławica Słupska',
       'Przybrzeżne Wody Bałtyku', 'Zatoka Pomorska',
       'Wschodnie Wody Przygraniczne'], dtype=object)

In [10]:
df_bielik = df[df['nazwa_polska'] == "bielik"]

In [11]:
df_bielik[df_bielik['dokladnosc_oszac'] == "dokładne liczenie"]["rok"].unique()

array(['2004-2009', '2005-2007', '2004-2008', '2002-2008', '2005-2009',
       '2007-2008', '2007-2009', '1995-2008', '2008', '1997-2003',
       '1995-2003', '2008-2009', '2009', '1996-2003', '2001-2004, 2008',
       '2001-2004, 2009', '2003-2009', '2006-2009', '2000-2003',
       '2001-2002', '2005-2008', '1999-2003', '2006', '2007', '1998-2009',
       '2003-2007', '2004-2005', '2002-2009', '2006-2007', '2000-2009',
       '2004-2006'], dtype=object)

In [12]:
def get_df_ptak(nazwa_ptaka, nazwa_ostoi):
    df_ptak = df[(df['nazwa_polska'] == nazwa_ptaka) & (df['dokladnosc_oszac'] == "dokładne liczenie")]
    df_ptak = df_ptak[df['nazwa_ostoi'] == nazwa_ostoi]
    return df_ptak

In [13]:
df_bielik = get_df_ptak("bielik", "Puszcza Borecka")

C:\Users\pawel.gliwny.FIS\AppData\Local\Temp\ipykernel_6696\2011041227.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ptak = df_ptak[df['nazwa_ostoi'] == nazwa_ostoi]

In [14]:
df_bielik[df_bielik['dokladnosc_oszac'] == "dokładne liczenie"]["nazwa_ostoi"].unique()

array(['Puszcza Borecka'], dtype=object)

In [15]:
df_nuroges = df[df['nazwa_polska'] == "nurogęś"]

In [16]:
df_nuroges.head()

,ptak_nr,id,kod_ostoi,nazwa_ostoi,nazwa_polska,nazwa_lacinska,status,liczba_par_min,liczba_par_max,dokladnosc_oszac,kryterium,rok,aktualne
1,36.0,3580,PL001,Delta Świny,nurogęś,Mergus merganser,M,5000.0,12000.0,NaN,NaN,1995-1997,nie
60,36.0,12210,PL001,Delta Świny,nurogęś,Mergus merganser,P/Z,5000.0,14000.0,przybliżony szacunek,NaN,2004-2009,tak
104,36.0,3628,PL002,Zalew Szczeciński,nurogęś,Mergus merganser,M,10000.0,50000.0,NaN,"C3,C4",1997-1999,nie
163,36.0,12418,PL002,Zalew Szczeciński,nurogęś,Mergus merganser,M,30000.0,50000.0,przybliżony szacunek,NaN,2004-2009,tak
164,36.0,12419,PL002,Zalew Szczeciński,nurogęś,Mergus merganser,Z,30000.0,30000.0,dokładne liczenie,NaN,2004-2009,tak

In [55]:
df = pd.DataFrame([
    ['apple', 4],
    ['apple', 4.5],
    ['orange', 5],
    ['pear', 6],
], columns=['fruit', 'price'])

In [56]:
def view1(fruit):
    display(df[df['fruit']==fruit])

fruitSelect = widgets.Select(options=['apple', 'orange' ,'pear'])
widgets.interactive(view1, fruit=fruitSelect)

interactive(children=(Select(description='fruit', options=('apple', 'orange', 'pear'), value='apple'), Output(…

In [57]:
def view_ptak(rok):
    display(df_nuroges[df_nuroges['rok'] == rok])

rokSelect = widgets.Select(options=['1995-1997', '1997-1999', '2004-2009'])
widgets.interactive(view_ptak, rok=rokSelect)

interactive(children=(Select(description='rok', options=('1995-1997', '1997-1999', '2004-2009'), value='1995-1…